APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:x0SY23UzAhOIzmLDIBA5pRyfZMJz0+KiyEAlGKGFjm8=
APP_DEBUG=true
APP_URL=http://localhost:8080

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mariadb
DB_HOST=db
DB_PORT=3306
DB_DATABASE=gates
DB_USERNAME=gates_user
DB_PASSWORD=secret
DB_ROOT_PASSWORD=secret

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

WALLET_SERVICE_URL=http://go_wallet_service:8000

WALLET_HOT_ACCOUNT=0
WALLET_HOT_CHANGE=1
WALLET_HOT_INDEX=0
